set default=0
set timeout=5
set timeout_style=menu

insmod all_video
insmod gfxterm

# Terminal output
terminal_output gfxterm

# Load fonts
if loadfont unicode ; then
  set gfxmode=auto
  terminal_output gfxterm
fi

# Colors
set color_normal=light-green/black
set color_highlight=black/light-green

menuentry "🐊 Install Caimán OS" --class caiman {
    linux   /boot/vmlinuz quiet console=ttyS0,115200 \
            caiman.mode=install \
            caiman.version=1.1.0
    initrd  /boot/initramfs.img
}

menuentry "🐊 Caimán OS — Live (no install)" --class caiman {
    linux   /boot/vmlinuz quiet console=ttyS0,115200 \
            caiman.mode=live \
            caiman.version=1.1.0
    initrd  /boot/initramfs.img
}

menuentry "🐊 Caimán OS — Debug (verbose)" --class caiman {
    linux   /boot/vmlinuz console=ttyS0,115200 \
            caiman.mode=install caiman.debug=1
    initrd  /boot/initramfs.img
}

menuentry "Boot from local disk" {
    chainloader +1
}
